@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-primary-10);
}
.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: all 0.3s linear;
}
.hero-admin {
  background-color: var(--clr-primary-6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto auto;
  width: 60%;
  height: 40%;
  border-radius: 10px;
  box-shadow: 0 0 90px;
}
.loginform {
  position: relative;
  width: 100%;
  height: 100%;
}
.form {
  display: grid;
  justify-content: center;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 300px;
  padding: 60px;
  height: 100%;
}
.form div {
  display: grid;
  padding: 10px;
}
.submit-main {
  display: grid;
  justify-content: center;
  align-items: center;
}
.button-container {
  width: 100px;
  height: 50px;
}
.button-container input {
  border-radius: 20px;
  /* box-shadow: inset 0 0 10px rgb(119, 119, 103); */
  border: none;
  background-color: var(--clr-primary-5);
  text-transform: uppercase;
  font-weight: 1000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 letter-spacing: 1px;
}
.button-container input:hover {
  background-color: rgb(238, 234, 173);
}

.form label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
}

.input-container input {
  background-color: var(--clr-primary-10);
  border-radius: 10px;
  border: none;
  height: 2.2rem;
  /* box-shadow: 0 0 20px; */
  box-shadow: inset  0 0 20px rgb(131, 129, 129);
  text-align: center;
  font-size: 1.3rem;
}
